.legend-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: "max-content";
  border: 1px solid rgb(228 228 231);
  background-color: white;
  padding: 1.2rem 1.6rem;
  font-size: 0.8em;
  border-radius: 0.5rem;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.legend-prerequisite-line {
  width: 30px;
  border-top: 2px solid #2b78e4;
}

.legend-prerequisite-dotted {
  width: 30px;
  border-top: 2px dotted #2b78e4;
}
