.navbar {
  background-color: #1c1c62;
  padding: 1.25rem 3rem;
  display: flex;
  justify-content: center;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100rem;
}

.navbar-logo {
  font-size: 1.25em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.navbar-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.25em;
  margin-left: 1.5rem;
  padding: 0.1rem 0;
  color: white;
}

button:hover {
  border-bottom: 1px solid white;
}
