.navbar {
  background-color: white;
  padding: 1rem 1.5rem 0 1.5rem;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}

.ntu-logo {
  width: 145px;
  height: auto;
}

.navbar-logo {
  font-size: 1.6em;
  font-weight: bold;
  color: #282c6d;
  cursor: pointer;
  text-decoration: none;
}

.navbar-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 1.25em;
  padding: 1rem;
  margin-left: 0.5rem;
  border: 1px solid white;
  border-radius: 0.5rem;
}

button:hover {
  border: 1px solid grey;
}

hr {
  border: 1px solid rgb(212, 212, 216);
}
