.app {
  height: max-content;
  min-height: 100vh;
  padding-top: calc(64px + 3rem);
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .app {
    padding-top: calc(64px + 1rem);
  }
}
