.courseNode-btn {
  height: 100%;
  text-align: left;
  font-size: 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.courseNode-btn:hover {
  border-bottom: none;
}
